body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1B1B1B;
    color: #fff;
    transition: background-color 0.5s, color 0.5s;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffb0f3;
    padding: 6px;
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    text-align: center;
    white-space: nowrap; /* Prevents wrapping */
    overflow: hidden;
}

.logo {
    margin: 0;
}

.bar {
    background-color: #000;
    height: 4px;
    width: 25px;
    margin: 3px 0;
}

:root {
    --min-font-size: 46px;
    --max-font-size: 66px;
    --min-screen-size: 375px;
    --max-screen-size: 800px;
}

.navbar .logo {
    font-family: 'FancyCardText', serif;
    font-size: calc(var(--min-font-size) + (var(--max-font-size) - var(--min-font-size)) * (100vw - var(--min-screen-size)) / (var(--max-screen-size) - var(--min-screen-size)));
    color: #000;
}

@media only screen and (max-width: 375px) {
    .navbar .logo {
        font-size: var(--min-font-size);
    }
}

@media only screen and (min-width: 800px) {
    .navbar .logo {
        font-size: var(--max-font-size);
    }
}
@media only screen and (min-width: 376px) and (max-width: 899px) {
    .navbar .logo {
        font-size: 50px; /* Adjust this value based on your preference */
    }
}

.header, .content, .footer {
    padding: 20px;
}

.header {
    padding-top: 75px; /* Account for the height of the navbar */
}

@font-face { 
  font-family: "FancyCardText";
  src: url("/resources/fonts/FancyCardText.woff2");
  font-weight: 100;
}

body {
    overflow-x: hidden; /* Prevents horizontal scrolling */
}
.header h1, .header h2, .header h3 {
    text-align: center;
}
*, *:before, *:after {
    box-sizing: border-box;
}
label {
    pointer-events: auto;
}
label .menu {
    position: absolute;
    right: -100px;
    top: -100px;
    z-index: 100;
    width: 200px;
    height: 200px;
    background: #1b1b1b;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 2px #1b1b1b;
    cursor: pointer;
}

label .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: #ffb0f3;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #ffb0f3;
}

label .hamburger:before {
    top: -10px;
}

label .hamburger:after {
    bottom: -10px;
}

label input {
    display: none;
}

label input:checked + .menu {
    box-shadow: 0 0 0 100vw #1b1b1b, 0 0 0 100vh #1b1b1b;
    border-radius: 0;
}

label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
}

label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
}
.menu-container {
    position: fixed; /* Positioned relative to the viewport */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 98; /* Below the links */
    pointer-events: none;
}

.optionssectionmenu {
    display: none;
    transition: opacity 0.5s ease;
    opacity: 0;
    pointer-events: none;
    z-index: 99;
}

.menu-container label .menu {
    z-index: 98;
}
.about-section {
    text-align: center;
    text-justify: inter-word;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.faq-section {
  text-align: center;
  margin: 50px 0;
}

.faq-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.faq-item {
  margin: 10px 0;
  text-align: left;
}

.faq-item input[type="checkbox"] {
  display: none;
}

.faq-item label {
  display: block;
  background: #1b1b1b;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s;
}

.faq-item label:hover {
  background: #333;
}

.faq-content {
  max-height: 0;
  overflow: hidden;
  background: #1a1a1a;
  transition: max-height 0.3s ease-out;
}

.faq-item input[type="checkbox"]:checked + label + .faq-content {
  max-height: 3000px;
}
@media screen and (max-width: 768px) {
  label .menu {
    background: #ffb0f3;
    box-shadow: 0 0 0 2px #ffb0f3;
    top: auto;  /* Reset to auto */
    bottom: -100px;  /* Position at the bottom */
    right: -100px;  /* Position to the right */
  }

  label .hamburger {
    top: 60px;  /* Same as before, since it's relative to the circle */
    left: 50px;  /* Adjusted position, right above the quarter circle */
  }

  .menu-links {
    top: 40%;
  }

  label .hamburger,
  label .hamburger:before,
  label .hamburger:after {
    background: #1b1b1b;
    color: #1b1b1b;
    box-shadow: 0 0 0 2px #1b1b1b;
  }

  .menu-links li {
    color: #000;
  }
  .menu-links li:hover {
    color: #660066; /* Color when hovered over */
  }
  label input:checked + .menu {
    box-shadow: 0 0 0 100vw #ffb0f3, 0 0 0 100vh #ffb0f3;
  }
}

#date, #time {
    font-family: "Courier New", Courier, monospace;
}

.current-day {
    position: relative;
    text-align: center;
    color: #000;
}

.current-day::after {
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    background-color: #ffb0f3; /* Change this to your desired color */
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1; /* Place the circle behind the text */
}

.calendar__header b {
    visibility: hidden; /* Hide the content but maintain the space */
    height: 20px; /* You can adjust this value as needed */
}
a {
    color: #B0FFBC;
}

a:visited {
    color: #90db9e; /* This is a slightly darker shade of #B0FFBC */
}

blockquote {
    border-left: 3px solid #B0FFBC; /* Adjust the color as desired */
    padding-left: 15px;             /* Spacing between the line and the text */
    margin-left: 3;                 /* Ensure blockquote is flush with its container on the left */
    font-style: italic;             /* Commonly, blockquotes are styled in italics, but this is optional */
}
.carrot {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.faq-item input[type=checkbox]:checked + label .carrot {
  transform: rotate(90deg);
}

.optionssection .icons-container, .optionssectionmenu .icons-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.optionssection .icon, .optionssectionmenu .icon {
    position: absolute;
    transition: transform 0.2s;
    cursor: pointer;
}

.optionssection .icon:hover, .optionssectionmenu .icon:hover {
    transform: scale(1.1);
}

.optionssection .icon svg, .optionssectionmenu .icon svg {
    width: 75px;
    height: 75px;
    fill: currentColor;
    transition: transform 0.2s, fill 0.2s;
}

.optionssection .icon:hover svg, .optionssectionmenu .icon:hover svg {
    transform: scale(1.1);
    fill: #ffb0f3;
}

.optionssection .icon-text, .optionssectionmenu .icon-text {
    visibility: hidden;
    opacity: 0;
    color: #fff;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    position: absolute;
    text-align: center;
    transition: opacity 0.5s, visibility 0.5s;
    left: 50%;
    transform: translateX(-50%);
}

.optionssection .icon:hover .icon-text, .optionssectionmenu .icon:hover .icon-text {
    visibility: visible;
    opacity: 1;
}